.portableText {
  @apply text-lg leading-relaxed;
}

.portableText h2 {
  @apply text-2xl text-[#1F2937] font-medium mb-6 last:mb-0;
}

.portableText p {
  @apply text-base text-[#1F2937] leading-8 mb-6 last:mb-0;
}

.portableText li {
  @apply text-base leading-9;
}

.portableText strong {
  @apply inline-block text-lg text-primary font-semibold leading-6 mb-2;
}

.portableText ol {
  list-style: auto;
  @apply text-primary leading-9 ml-6 mb-6 last:mb-0;
}

.portableText ul {
  @apply text-primary leading-9 ml-6 list-image-dot mb-6 last:mb-0;
}

.portableText ul li,
.portableText ol li {
  @apply pl-2;
}

.portableText a {
  @apply text-[#06813E] font-medium underline;
}
