.portableText {
  @apply flex flex-col w-full gap-4;
}

.portableText p {
  @apply text-[#565855] my-3 leading-8;
}

.portableText li {
  @apply text-base text-[#374151] leading-9;
}

.portableText strong {
  @apply inline-block text-lg text-primary font-semibold leading-6 mb-2;
}

.portableText ul {
  @apply text-primary leading-9 ml-4 list-image-dot mb-6 last:mb-0;
}

.portableText ul li {
  @apply pl-2;
}

.portableText a {
  @apply text-[#374151] font-medium underline;
}

/* Change color of active dot */
.carousel .control-dots .dot {
  background-color: #60B58A !important; /* Your desired color */
}

/* Change color of inactive dots */
.carousel .control-dots .dot:not(.selected) {
  background-color: #374151 !important; /* Darker gray */
}
